<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li>
        <a href="/movies">Quiero ver todas las peliculas en cartelera</a>
      </li>
      <li>
        <a href="/movies/new">Quiero ver 5 Pelicula por orden de fecha de estreno</a>
      </li>
      <li>
        <a href="/movies/recommended">Quiero ver Pelicula cuyo rating sea mayor o igual a 8</a>
      </li>
      <li>
        <a href="/movies/search">Buscar Peliculas</a>
      </li>
      <li>
        <a href="/movies/create">Quiero dar de alta una pelicula nueva</a>
      </li>
    </ul>
  </body>
</html>
