<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li>
        <a href="/actors/show">Quiero ver todos los Generos de peliculas en cartelera</a>
      </li>
      <li>
        <a href="/actors/new">Quiero ver 5 Generos de pelicula por orden de fecha de estreno</a>
      </li>
      <li>
        <a href="/actors/recommended">Quiero ver Generos de pelicula cuyo rating sea mayor o igual a 8</a>
      </li>
      <li>
        <a href="/actors/search">Buscar Generos</a>
      </li>
      <li>
        <a href="/actors/create">Quiero dar de alta un Genero nuevo</a>
      </li>
    </ul>
  </body>
</html>
